[Desktop Entry]
Type=Application
Version=1.0
# Do not translate the word "RELEASE".  It is used as a marker by casper.
Name=Firmware Updater RELEASE
Comment=Install this system permanently to your hard disk
Keywords=firmware;
#use sh because pkexec is broken under xfce/lxce http://pad.lv/1193526
Exec=firmware-updater
Icon=system-component-firmware
Terminal=false
Categories=System;
