[Desktop Entry]
Type=Application
Version=1.0
Name=Firmware Updater
Name[be]=Абнаўленне ўбудаваных праграм
Name[ca]=Actualitzador del firmware
Name[cs]=Nástroj pro aktualizaci firmwaru
Name[da]=Firmwareopdatering
Name[de]=Firmware-Aktualisierungsprogramm
Name[el]=Ενημέρωση υλικολογισμικού
Name[en]=Firmware Updater
Name[eo]=Ĝisdatigilo de mikroprogramoj
Name[es]=Actualizador del firmware
Name[et]=Püsivara uuendaja
Name[eu]=Firmware eguneratzailea
Name[fa]=به‌روز رسان ثابت‌افزار
Name[fi]=Laiteohjelmiston päivitys
Name[fr]=Actualiseur de micrologiciel
Name[ga]=Nuashonróir Dochtearraí
Name[gl]=Actualizador de firmware
Name[he]=מעדכן הקושחה
Name[hu]=Belsővezérlőprogram-frissítő
Name[id]=Pembaruan Firmware
Name[it]=Aggiornamento del firmware
Name[ja]=ファームウェアのアップデート
Name[ka]=მიკროკოდის განახლების პროგრამა
Name[km]=កម្មវិធីធ្វើបច្ចុប្បន្នភាពកម្មវិធីបង្កប់
Name[kn]=ಫರ್ಮ್‌ವೇರ್ ಅಪ್‌ಡೇಟರ್
Name[ko]=펌웨어 업데이터
Name[lo]=ຕົວອັບເດດເຟີມແວ
Name[lt]=Programinės aparatinės įrangos atnaujinimo įrankis
Name[nb]=Fastvare-oppgraderer
Name[nl]=Firmware Updater
Name[oc]=Actualizador de micrologicial
Name[pa]=ਫ਼ਿਰਮਵੇਅਰ ਅੱਪਡੇਟਰ
Name[pl]=Aktualizator oprogramowania sprzętowego
Name[pt]=Atualizador de Firmware
Name[pt_BR]=Atualizador de Firmware
Name[ru]=Инструмент обновления прошивок
Name[sk]=Aktualizácia firmvéru
Name[sr]=Ажурирање фирмвера
Name[sv]=Uppdaterare för fast programvara
Name[ta]=ஃபார்ம்வேர் புதுப்பிப்பு
Name[th]=เครื่องมือปรับรุ่นเฟิร์มแวร์
Name[tr]=Yazılım Güncelleyici
Name[ug]=مۇقىم دېتال يېڭىلىغۇچ
Name[uk]=Оновлювач прошивки
Name[zh]=固件更新器
Name[zh_TW]=韌體更新程式
Comment=Manage firmware on your device
Keywords=firmware;
#use sh because pkexec is broken under xfce/lxce http://pad.lv/1193526
Exec=firmware-updater
Icon=system-component-firmware
Terminal=false
Categories=System;
