[Desktop Entry]
Type=Application
Version=1.0
Name=Firmware Updater
Comment=Manage firmware on your device
Keywords=firmware;
#use sh because pkexec is broken under xfce/lxce http://pad.lv/1193526
Exec=firmware-updater
Icon=system-component-firmware
Terminal=false
Categories=System;
